@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navBar estilos */

.encabezado__index {
  background-color: greenyellow;
  margin: 0px;
  font-weight: bold;
  font-family: sans-serif;
  z-index: 1010;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 100;
  text-align: center;
}

.encabezado__logo {
  width: 120px;
  height: 120px;
  margin: 10px;
  margin-left: 25%;
  padding-top: 0;
  padding-bottom: 5px;
  transform: rotate(-15deg);
  text-align: left;
}

.encabezado__nombre {
  color: #548aff;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Dela Gothic One", cursive;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  margin-left: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 0;
  letter-spacing: 0.1em;
  word-spacing: 0.3em;
}

.encabezado__subnombre {
  color: #548aff;
  font-size: 25px;
  text-transform: uppercase;
  margin-left: 43px;
  padding-top: 0;
  font-family: "Dela Gothic One", cursive;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  letter-spacing: 0.2em;
  word-spacing: 0.25em;
}

.menu__items--font {
  background-color: #548aff;
  font-weight: bold;
  font-family: sans-serif;
  padding-right: 5%;
  width: 100%;
  text-align: right;
  border-width: 2px;
  border-bottom: solid;
  border-top: solid;
  border-color: black;
  position: sticky;
  margin: 0px;
  
}

.menu__items--font:hover {
  color: #053191;
}

ul.menu__items--font li {
  position: relative;
  margin-left: 15px;
  margin-top: -45px;
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;

  /* transform: skew(-20deg, 0deg);
  border-right: solid;
  border-left: solid;
  border-color: black;
  line-height: 30px;
  padding: 3px;
  background-color: greenyellow; */
  
}


ul.menu__items--font li a {
  color: greenyellow;
  text-decoration: none;
}
ul.menu__items--font li a:hover {
  color: rgb(67, 95, 25);
}

li {
  position: relative;
  display: inline-block;
}

li li.item {
  border-bottom: solid;
  border-top: solid;
  border-color: black;
  height: 50px;
}
#active {
  border-bottom: solid;
  border-color: greenyellow;
  border-width: 5px;
  width: 95%;  
}
#active:hover {
  border-color: rgb(67, 95, 25);
}

/* CardWidget */
.carrito {
  width: 60px;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 20px;
  margin-right: -25px;
  margin-top: 5px;
  text-align: right;
}

.carrito:hover {
  transform: scale(1.15)
}

.ItemListContainer {
  background-color: #282c34;
}

.titulo {
  font-size: 45px;
  color: #548aff;
  padding-top: 15px;
}